/*** Variables ***/
$bg-primary-color: #ffeeee;

$text-size-xs: 10px;
$text-size-sm: 12px;
$text-size-md: 16px;
$text-size-lg: 20px;
$text-size-xl: 24px;

$space-xs: 4px;
$space-sm: 8px;
$space-md: 12px;
$space-lg: 16px;
$space-xl: 24px;

$border-radius-xs: 4px;
$border-radius-sm: 8px;
$border-radius-md: 12px;
$border-radius-lg: 16px;
$border-radius-xl: 24px;

$post-bg-color: #fefefe;
$post-max-width: 320px;
$profile-picture-width: $post-max-width / 8;
$post-border: 2px solid #ffe1e1;

/*** Mixins ***/
@mixin flex($gap: 0px) {
  display: flex;
  gap: $gap;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*** CSS Reset ***/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*** Base styling ***/
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body,
main {
  height: 100%;
  overflow: hidden
}

body {
  background-color: $bg-primary-color;
}

/*** Layout ***/
.main {
  @include flex-center();
  padding: $space-sm;
}

/*** Components ***/
.post {
  max-width: $post-max-width;
  width: 100%;
  background-color: $post-bg-color;
  border: $post-border;
  border-radius: $border-radius-md;
  position: relative;

  .post__btn {
    background-color: transparent;
    border: none;
    font-size: $text-size-xl;
  }

  .post__top {
    @include flex();
    justify-content: space-between;
    padding: $space-sm $space-xs;

    .post__profile {
      @include flex($space-sm);
      align-items: center;

      .post__profile-picture {
        height: $profile-picture-width;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;
      }

      .post__profile-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .post__username {
        font-size: $text-size-md;
        font-weight: 500;
      }
    }
  }

  .post__content {
    .post__image {
      img {
        width: 100%;
      }
    }
  }

  .post__bottom {
    @include flex($space-md);
    padding: $space-xs;

    .post__btn--save {
      margin-left: auto;
    }
  }
}

@media (min-width: 1024px) {
  .post {
    .post__content,
    .post__btn {
      cursor: pointer;
    }
  }
}